* {
  margin: 0;
  box-sizing: border-box;
}

.member {
  display: flex;
}
.team-member {
  padding: 4px;
}
.infirmation p {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan Script";
  text-align: center;
}
