* {
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "kaushanScript";
  src: url("/fonts/KaushanScript-Regular.ttf");
}
.member {
  display: flex;
}
.team-member {
  padding: 4px;
}
.infirmation p {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan Script";
  text-align: center;
}
.infirmation {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}
.menu {
  list-style: none;
  justify-content: space-around;
}
.menu a {
  color: #95e1d3;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 50px;
}

header .logo {
  color: #95e1d3;
}
.services img {
  width: 35px;
  height: 35px;
}
.tean_row .team-member {
  box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.tean_row {
  display: flex;
}
.team_photo {
  padding: 20px;
}

.text_row {
  text-align: center;
  width: 100%;
}
.tean_row_col-3 {
  display: flex;
  flex-wrap: wrap;
}
.section-title {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  box-align: center;
}
header {
  /* position: fixed;
  background: #333333; */
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: fixed;
  align-items: center;
  top: 0;
}
.menu {
  list-style: none;
  display: flex;
}
main {
  margin-top: 130px;
}

.team_photo {
  display: flex;
}
.logo {
  font-size: 30px;
  color: #95e1d3;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.servise-item {
  width: 281px;
  margin-right: 121px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
}
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}
.section-title p {
  font-family: "kaushanScript";
}
.photo p {
  font-family: "kaushanScript";
}
.sservise-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
hr {
  width: 62px;
  margin: 0 auto;
  color: #f38181;
  font-size: 3px;
}
