* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
@font-face {
  font-family: "KaushanScript";
  src: url("/fonts/KaushanScript-Regular.ttf");
}
.header-wrapp {
  display: flex;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  background: #fff;
  align-items: center;
  top: 0;
  margin-bottom: 68px;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
header a {
  color: #95e1d3;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  /* text-transform: uppercase; */
  /* margin-left: 50px; */
}
header li {
  margin-left: 50px;
}
header h1 {
  color: #95e1d3;
}
header a:hover {
  color: #f38181;
}
header a::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 3px;
  background: #f38181;
  transition: 0.5s;
}
header a:hover::after {
  width: 100%;
  transform: translate(-50%, -50%);
}

.pressent-text {
  font-family: "KaushpianScript";
  text-align: center;
}
.text-servises {
  font-family: "Montserrat", sans-serif;
}
.osnowny-text {
  text-align: center;
  margin: 20px 0 40px;
}
.servises {
  margin-top: 65px;
}
.servises-item {
  display: flex;
  width: 33.33%;
}
.servises {
  display: flex;
}
hr {
  width: 60px;
  height: 4px;
  margin: 0 auto;
  background: #f38181;
}
h3 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 0.93rem;
  font-weight: 400;
  text-transform: uppercase;
}
main {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
}
.servises {
  flex-wrap: wrap;
  display: block;
}
.servises p {
  width: 310px;
  height: 37px;
  margin-top: 20px;
}
.servises-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.servises-item {
  align-items: flex-start;
  padding: 50px 35px;
}
.text {
  text-align: center;
  margin-top: 45px;
}
.team-photo {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
}
.member-photo {
  margin-left: 10px;
  position: relative;
  flex-wrap: wrap;
}
.team-photo-title:first-child {
  margin-left: 0;
}
.team-photo img {
  display: block;
  width: 100%;
}
.social li {
  height: 57px;
  width: 57px;
  background-color: #fce38a;
  margin-left: 2px;
}
.social a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.social img {
  height: 26px;
}
.social {
  list-style: none;
  display: flex;
  position: absolute;
  top: calc(50% - 28.5px);
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: 0.3s;
}
.social li:hover {
  background: #95e1d3;
  transition: 0.3s;
}
.member-photo::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(239, 139, 138, 0.8) 0%,
    rgba(229, 207, 130, 0.8) 100%
  );
  opacity: 0;
  transition: 0.5s;
}
.member-photo:hover::before {
  opacity: 1;
  transition: 0.5s;
  top: -10px;
  bottom: 16px;
  left: -10px;
  right: 10px;
}
.member-photo:hover .social {
  opacity: 1;
}
footer {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
p {
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  .header-wrapp {
    justify-content: center;
  }
  .servises-item {
    width: 50%;
    padding: 20px;
  }
  .team-photo {
    justify-content: center;
  }
  footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container {
    width: 100%;
  }
}
